stages:
    - build
    - test

.build-script:
    stage: build
    script:
        - cd BPX && cargo build && cd ..
        - cd Client && cargo build && cd ..
        - cd BPXTools && cargo build && ./test/test.sh && cd ..

.test-script:
    stage: test
    script:
        - cd BPXTools
        - perl test/test.pl

build-linux:
    image: "rust:latest"
    extends:
        - .build-script
    artifacts:
        paths:
            - BPXTools/target/debug/bpxdbg

build-win64:
    tags:
        - windows
        - shared-windows
        - windows-1809
    before_script:
        - choco install -y rust-ms
    extends:
        - .build-script
    artifacts:
        paths:
            - BPXTools/target/debug/bpxdbg.exe

test-linux:
    image: perl:5.32.1-threaded
    needs: [build-linux]
    extends:
        - .test-script

test-win64:
    needs: [build-win64]
    tags:
        - windows
        - shared-windows
        - windows-1809
    before_script:
        - choco install -y activeperl
    extends:
        - .test-script
